In [18]:
from dask import dataframe as dd
import pandas as pd
import os

In [3]:
facet_path = '/home/mbentley/Desktop/test'
facet_file = 'rosetta_facet_product_osiris.csv'
facet_filepath = os.path.join(facet_path, facet_file)

In [4]:
data = dd.read_csv(facet_filepath, dtype={'facet_id':'int16', 'product_id':'category', 'instrument_id':'category'})

In [5]:
data.head()

   facet_id                      product_id instrument_id
0      8035  N20151004T140446763ID50F22.IMG        OSINAC
1      8035  N20151004T140458809ID50F22.IMG        OSINAC
2      8035  N20151004T140946786ID50F22.IMG        OSINAC
3      8035  N20151004T140959804ID50F22.IMG        OSINAC
4      8035  N20151004T141011160ID50F24.IMG        OSINAC

In [8]:
data = data[data.instrument_id=='OSINAC']

In [9]:
data = data.drop(columns='instrument_id')

In [14]:
data['date'] = data.product_id.apply(lambda id: id[1:9])

In [16]:
data.date = dd.to_datetime(data.date)

In [19]:
perihelion = pd.Timestamp('13-08-2015')

In [47]:
pre = data[(data.date<=perihelion) & (data.date>'2014-09-01')]
post = data[data.date>perihelion]

In [49]:
len(pre), len(post)

KeyboardInterrupt:

In [22]:
pre.head()

      facet_id                      product_id       date
1979      8036  N20140320T023010669ID30F22.IMG 2014-03-20
1980      8036  N20140323T034557545ID4DF22.IMG 2014-03-23
1981      8036  N20140323T040657539ID4DF22.IMG 2014-03-23
1982      8036  N20140323T042757530ID4DF22.IMG 2014-03-23
1983      8036  N20140323T044857585ID4DF22.IMG 2014-03-23

In [23]:
post.head()

   facet_id                      product_id       date
0      8035  N20151004T140446763ID50F22.IMG 2015-10-04
1      8035  N20151004T140458809ID50F22.IMG 2015-10-04
2      8035  N20151004T140946786ID50F22.IMG 2015-10-04
3      8035  N20151004T140959804ID50F22.IMG 2015-10-04
4      8035  N20151004T141011160ID50F24.IMG 2015-10-04

In [34]:
pre_images = pre.product_id.unique().compute()
post_images = post.product_id.unique().compute()

In [38]:
pre_images = pre_images.to_list()
post_images = post_images.to_list()

In [39]:
pre_test = pre_images[0]

In [40]:
pre_test

'N20140320T023010669ID30F22.IMG'

In [41]:
pre_facets = pre[pre.product_id==pre_test].compute()

In [42]:
pre_facets

        facet_id                      product_id       date
1979        8036  N20140320T023010669ID30F22.IMG 2014-03-20
17953       8037  N20140320T023010669ID30F22.IMG 2014-03-20
34864       8038  N20140320T023010669ID30F22.IMG 2014-03-20
41451       8039  N20140320T023010669ID30F22.IMG 2014-03-20
58347       8040  N20140320T023010669ID30F22.IMG 2014-03-20
...          ...                             ...        ...
591185      8031  N20140320T023010669ID30F22.IMG 2014-03-20
607569      8032  N20140320T023010669ID30F22.IMG 2014-03-20
632553      8033  N20140320T023010669ID30F22.IMG 2014-03-20
638566      8034  N20140320T023010669ID30F22.IMG 2014-03-20
644600      8035  N20140320T023010669ID30F22.IMG 2014-03-20

[39056 rows x 3 columns]

In [44]:
pre_facets.facet_id.values

array([8036, 8037, 8038, ..., 8033, 8034, 8035], dtype=int16)

In [45]:
len(pre_facets.facet_id.values)

39056

Need to pre-process so that each image is associated with the list of ~40k facets (could be many more for images taken from far away?)